{% extends "default.twig" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% for itemId, item in menu.items %}
                    <strong>{{ item.section }}</strong>

                    <ul class="nav nav-pills nav-stacked" style="margin-bottom: 20px;">
                        {% for itemId, item in item.items %}
                            <li role="presentation" class="{{ itemId == current_menu ? 'active' }}">
                                <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.url) }}">
                                    {{ item.text|raw }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="col-md-10">
                <article>
                    <div class="pull-right">
                        <a href="https://github.com/phpab/phpab.github.io/blob/source/source/{{ currentFile }}"
                           class="btn btn-default btn-sm">
                            Edit this page on GitHub
                        </a>
                    </div>

                    {{ content|raw }}
                </article>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>ga('set', 'VCq5cVWGS3mbuUyCXmUN2w', 0);</script
{% endblock %}