{% extends "default.twig" %}

{% block topbar %}
{% endblock %}

{% block content %}
    <section class="jumbotron">
        <div class="container">
            <h1>
                phpab <strong>1.0.0</strong>
            </h1>
            <p>
                The A/B testing framework for PHP applications.
            </p>
            <p>
                <a href="{{ baseUrl }}/docs/getting-started.html" class="btn btn-lg btn-primary">
                    Get started
                </a>
                <a href="{{ baseUrl }}/docs/" class="btn btn-lg btn-default">
                    Documentation
                </a>
            </p>
        </div>
    </section>

    <section class="jumbotron jumbotron-odd">
        <div class="container">
            <h2>
                Integrations
            </h2>

            <p>
                PhpAb nicely integrates with the following frameworks.
            </p>

            <div class="row integration-thumbs">
                <div class="col-xs-12 col-md-4 zf2-integration">
                    <a href="{{  baseUrl }}/docs/frameworks/zf2.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/frameworks/zf2.png" alt="Zend Framework 2">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/frameworks/zf2.html" title="Zend Framework 2 integration guide">Zend Framework 2</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="{{  baseUrl }}/docs/frameworks/symfony2.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/frameworks/symfony2.png" alt="Symfony 2">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/frameworks/symfony2.html" title="Symfony 2 integration guide">Symfony 2</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <a href="{{  baseUrl }}/docs/frameworks/wordpress.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/frameworks/wordpress.png" alt="Wordpress">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/frameworks/wordpress.html" title="Wordpress integration guide">Wordpress</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron">
        <div class="container">
            <h2>
                Analytics
            </h2>

            <p>
                You choose where to you store analytics of your tests.
            </p>

            <div class="row analytics-thumbs">
                <div class="col-xs-12 col-md-3 google-analytics-integration">
                    <a href="{{  baseUrl }}/docs/components/analytics.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/analytics/google-analytics.png" alt="Google Analytics">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/components/analytics.html" title="Google Analytics">Google Analytics</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 mysql-integration">
                    <a href="{{  baseUrl }}/docs/components/analytics.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/analytics/mysql.png" alt="MySQL">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/components/analytics.html" title="MySQL Analytics">PDO</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 postgresql-integration">
                    <a href="{{  baseUrl }}/docs/components/analytics.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/analytics/postgresql.png" alt="PostgreSQL">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/components/analytics.html" title="PostgreSQL Analytics">PDO</a>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 mongodb-integration">
                    <a href="{{  baseUrl }}/docs/components/analytics.html" class="thumbnail">
                        <img src="{{  baseUrl }}/img/analytics/mongodb.png" alt="MongoDB">
                    </a>
                    <div class="caption">
                        <h4>
                            <a href="{{  baseUrl }}/docs/components/analytics.html" title="MongoDB Analytics">MongoDB</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
